.contact__container{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;

    background: linear-gradient(0deg, rgba(10,22,27,1) 54%, rgba(0,0,0,1) 100%);
}

.contact__container-contatos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin: auto;
    margin-bottom: 2rem;
    gap: 10rem;

}

.contact__container > h1{
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 100;
}

.contact__container > hr{   
    margin-top: -2rem;
    margin-bottom: 1rem;
    width: 7rem;
    border-color: #0a161b;
}

.contact__container-email{
    display: flex;
    flex-direction: column  ;

    align-items: center;
    font-weight: 100;
}

.contact__container-email > img{
    max-height: 3.1rem;
}

.contact__container-redes{
    height: 3rem;
    width: 10rem;

    border: 1px solid #ffffff;
    border-radius: 0rem 4rem 0rem 4rem;

    background: linear-gradient(#000000, #0a161b);
    
    display: flex;
    flex-direction: row;
    justify-content: center;

    box-shadow: 2px 2px 27px 0px #0a161b;
    -webkit-box-shadow: -5px 5px 2px 0px #284242;
    -moz-box-shadow: 2px 9px 2px 0px #0a161b;
}

.contact__container-redes:hover{
    background: linear-gradient(#0a161b , #000000 );
}

.contact__container-redes > img{
    margin: auto;
    max-height: 2.4rem;
}

@media(max-width: 1200px){
    .contact__container{
        margin: auto;
    }
    
    .contact__container-contatos{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        gap:2rem;
    }
    
    
    .contact__container-redes{
        height: 3rem;
        width: 10rem;
    
        border: 1px solid #0a161b;
        border-radius: 0rem 4rem 0rem 4rem;
    
        background: linear-gradient(#000000, #000000, #000000, #000000,
         #000000,#000000, #000000, #0a161b);
        
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .contact__container-redes:hover{
        background: linear-gradient(#0a161b,#000000, #000000, #000000,
         #000000, #000000,#000000, #000000);
    }
    
    .contact__container-redes > img{
        margin: auto;
        max-height: 1.6rem;
    }
}

@media(max-width: 800px){
   
}

@media(max-width: 400px){
    
}

