<div class="contact__container">
    <h1>Contato</h1>
    <div class="contact__container-contatos">
    <div class="contact__container-email">
        <img src="/assets/email.png" 
        alt=""
        srcset=""
        >
    <p>{{email}}</p>
    </div>
    <div class="contact__container-whatsapp">
        <img src="/assets/whatsapp.png" 
        alt=""
        srcset=""
        >
    <p>(17)-981434580</p>
    </div>
    <a href="https://www.linkedin.com/in/milton-j-rocha/">
    <div class="contact__container-redes">
            <img src="/assets/linkedin.png" 
            alt=""
            srcset=""
            >
    </div>
    </a>
    <a href="https://github.com/Milton-Rocha-Oliveira">
    <div class="contact__container-redes">
            <img src="/assets/github.png" 
            alt=""
            srcset=""
            >
    </div>
    </a>
    </div>
</div>
