<div class="contact__container">
    <h1>Contato</h1>
    <div class="contact__container-contatos">
    <div class="contact__container-email">
        <a href="mailto:milton.j.r.oliveira.1990@gmail.com?subject=Contato%20via%20portifolio">
            <img src="/assets/email.png" 
            alt=""
            srcset=""
            >
        </a>
    <p>{{email}}</p>
    </div>
    <a href="https://www.linkedin.com/in/milton-j-rocha/">
    <div class="contact__container-redes">
            <img src="/assets/linkedin.png" 
            alt=""
            srcset=""
            >
    </div>
    </a>
    <a href="https://github.com/Milton-Rocha-Oliveira">
    <div class="contact__container-redes">
            <img src="/assets/github.png" 
            alt=""
            srcset=""
            >
    </div>
    </a>
    </div>
</div>
