
.container__about-me{
    margin: auto;
    width: 100%;

    display: flex;
    flex-direction: row;

    background: linear-gradient(0deg, rgba(0,0,0,1) 54%, rgba(10,22,27,1) 100%);
    
}  

.container__about-me-box__lefth{
    max-height: 50rem;
    width: 50rem;
    margin-left: 0rem;
    margin-bottom: 2rem;
    background-size: 47rem;
    background-image: url(/assets/milton.rocha.text.1.png);
   
}


.texto__cabecalho{
    margin-top: 1rem;
    margin-left:2.2rem ;

    font-size: small;
    font-weight: 300;
}

.container__about-me__texto{
    display: flex;
    flex-direction: row;

    margin-top: 27rem;
    margin-left: 3rem;
    margin-right: 5rem;
    margin-bottom: 0rem;
}

.container__about-me__texto > h1{
    margin-left: 0.6rem;
}

.container__about-me__texto > hr{
    height: 3rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: -0.4rem;
}

.container__about-me__destaque-de-texto{
    font-weight: 300;
    color: #92dbfa;
    
}

.linha__inferior{
    border-color: #92dbfa;
    margin-top:-6.5px;

    width: 4rem;
    margin-left: 25.5rem
}

.container__about-me__texto__apresentacao{
    width: 40%;
    
    margin: 1rems;
    margin-bottom: 1;
    padding: 1rem;
    text-align: center;
    border: 1px solid #ffffff8d;
    border-radius: 0rem 3rem 0rem 3rem;

    box-shadow: 2px 2px 27px 0px #0a161b;
    -webkit-box-shadow: -5px 5px 2px 0px #284242;
    -moz-box-shadow: 2px 9px 2px 0px #0a161b;

}

.button{
    width: 12rem;
    height: 3.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
    /*Cria o efeito de sombra*/
    box-shadow: 2px 2px 27px 0px #0a161b;
    -webkit-box-shadow: -5px 5px 2px 0px #284242;
    -moz-box-shadow: 2px 9px 2px 0px #0a161b;

    background-color:#284242;
    color: black;

    font-family:'Franklin Gothic Medium';
    font-size: 1rem;
    font-weight: bold;
    text-align: center;

    border: solid;
    border-radius: 0.5rem;
}

@media(max-width: 1200px){
    
.container__about-me{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
 }

 .texto__cabecalho{
    margin-top: 0.5rem;
    font-size:2rem;
    font-weight: 300;
}

.container__about-me__texto{
    margin-top: 31rem;
    margin-left: 3rem;
}
.container__about-me__texto > h1{
    font-size: 2rem;
    margin-left: 1rem;
    font-weight: 500;
}

.container__about-me__texto > hr{
    margin-left: 4rem;
}

.linha__inferior{
    margin-top: 0.125rem;
    margin-left: 30rem;
}

.container__about-me-box__lefth{
    width: 80%;
    height: 100%;
    background-size: 57rem;
    margin: auto;
    
}

.container__about-me__texto__apresentacao{
    width: 80%;
    font-size: 2rem;
    margin: auto;
    margin-bottom: 8rem;
}

}

@media(max-width: 800px){  
    .container__about-me{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        gap: 1rem;
     }
    
     .container__about-me-box__lefth{
        padding: 0;
        width: 80%;
        margin: auto;
        margin-left: -20rem;
        background-size: 40rem;
        margin: auto;
        
    }

     .texto__cabecalho{
        margin-top: 0.5rem;
        font-size:1.5rem;
        font-weight: 300;
    }
    
    .container__about-me__texto{
        margin-top: 22rem;
        margin-left: 3rem;
    }
    
    .container__about-me__texto > h1{
        margin-top: auto;
        font-size: 1.7rem;
        margin-left: 0.9rem;
        font-weight: 400    ;
    }
    
    .container__about-me__texto > hr{
        height: 2rem;
        margin-top: 0.9rem;
        margin-left: 2rem;
        margin-right: -0.4rem;
    }
    
    .container__about-me__destaque-de-texto{
        font-weight: 300;
        
    }
    
    .linha__inferior{
        margin-top:0px;

        margin-left: 0;
        padding: 0;
        width: 2.5rem;
        margin-left: 25rem
    }
    
    .container__about-me__texto__apresentacao{
        width: 80%;
        font-size: 1.5rem;
        margin: auto;
        margin-bottom: 8rem;
    }
}

@media(max-width:400px){
     .container__about-me{
        width: 100%;
        gap: 1.5rem;
     } 

     .container__about-me-box__lefth{
        margin-left: 0rem;
        width: 90%;
        margin-top: 2rem;
        background-image: url(/assets/milton.rocha.text.png);
        background-repeat: no-repeat;
        background-size: 22.5rem;
        
    }

     .texto__cabecalho{
        margin-top: 0rem;
        font-size:1rem;
        font-weight: 300;
    }
    
    .container__about-me__texto{
        margin-top: 14rem;
        margin-left: 3rem;
    }
    .container__about-me__texto > h1{
        
        font-size: 1rem;
        margin-left: 0.5rem;
        font-weight: 400 ;

    }
    
    .container__about-me__texto > hr{
        height: 2rem;
        margin-left:0;
        margin-right: 0rem;
    }
    
    .container__about-me__destaque-de-texto{
        font-weight: 300;
    }
    
    .linha__inferior{
        margin-top:0px;

        margin-left: 0;
        padding: 0;
        width: 2.5rem;
        margin-left: 13.8rem
    }
    
    .container__about-me__texto__apresentacao{
        width: 80%;
        font-size: 1.5rem;
        margin: auto;
        margin-bottom: 8rem;
    }
}