
<div class="container__about-me">
    <div class="container__about-me-box__lefth">
    <div>
        <h1 class="texto__cabecalho"> DEV JAVA / ANGULAR</h1>
    </div>
    <div class="container__about-me__texto">
        <hr>
        <h1>SOU<strong class="container__about-me__destaque-de-texto"> MILTON ROCHA </strong>E SEJA <br> BEM VINDO AO MEU MUNDO</h1>
    </div>
    <hr class="linha__inferior">
    
    </div> 
    <div class="container__about-me__texto__apresentacao">
        <h1 class="container__about-me__destaque-de-texto">SOBRE MIM...</h1>
        <br>
        <p> 
            Sou estudante e amante na área de tecnologia desde o começo de 2022 ,
            e estou em busca de uma<strong class="container__about-me__destaque-de-texto">
            transição de carreira</strong>,e creio que meu diferencial 
            seja  a experiência de trabalho em equipe que já tenho desenvolvido nestes
            meus anos de trabalho, além de saber como trabalhar não só por mim, mais
            por todo um time, tenho a experiência de trabalhar com responsabilidade
            mesmo estando trabalhando remotamente, pois já tenho está experiência a 
            mais de 7 anos, pois o trabalho que desenvolvo atualmente, é no modelo 
            home Office. Sei que ainda nao tenho nenhuma<strong class="container__about-me__destaque-de-texto">
            experiência no mercado de 
            desenvolvimento</strong>, mais garanto que está falta de experiência, vou compensar
            com muito esforço e força de vontade.
            Não tenho problema nenhum com coisas novas, pelo contrário, eu amo novos desafios,
            e estou disposto a crescer  com a empresa em tudo oque for necessário. Pois sei que 
            o crescimento da empresa também significa o meu crescimento. 
        </p>
    </div>
</div>

