
<div class="container__about-me">
    <div class="container__about-me-box__lefth">
    <div>
        <h1 class="texto__cabecalho"> DEV JAVA / ANGULAR</h1>
    </div>
    <div class="container__about-me__texto">
        <hr>
        <h1>SOU<strong class="container__about-me__destaque-de-texto"> MILTON ROCHA </strong>E SEJA <br> BEM VINDO AO MEU MUNDO</h1>
    </div>
    <hr class="linha__inferior">
    
    </div> 
    <div class="container__about-me__texto__apresentacao">
        <h1 class="container__about-me__destaque-de-texto">SOBRE MIM...</h1>
        <br>
        <p> 
            Sou estudante e entusiasta da <strong class="container__about-me__destaque-de-texto">
            area de tecnologia</strong> desde o início de <strong class="container__about-me__destaque-de-texto">
            2022</strong>, e atualmente estou em busca de uma transição de carreira. Acredito que meu 
            diferencial seja a experiência em <strong class="container__about-me__destaque-de-texto">
            trabalho em equipe </strong> que desenvolvi ao longo dos meus anos de atuação profissional.
            Estou habituado a <strong class="container__about-me__destaque-de-texto">colaborar não apenas
            por mim, mas pelo sucesso coletivo de um time</strong>, o que me ensinou a importância
            da responsabilidade, especialmente no ambiente de<strong class="container__about-me__destaque-de-texto">
            trabalho remoto.</strong> Com mais de <strong class="container__about-me__destaque-de-texto">
            sete anos de experiência em trabalho home office</strong>, aprendi a me auto-organizar 
            e a manter a produtividade em qualquer situação. Embora eu ainda não tenha experiência formal 
            no mercado de desenvolvimento, estou comprometido a compensar essa lacuna com muito esforço e 
            dedicação.<strong class="container__about-me__destaque-de-texto">Novos desafios me motivam</strong>,
            e estou ansioso para aprender e crescer junto com a 
            empresa.Acredito que <strong class="container__about-me__destaque-de-texto"> o sucesso da empresa é 
            sinônimo do meu próprio crescimento</strong>, e estou
            disposto a contribuir em tudo o que for necessário para alcançarmos objetivos em comum.
        </p>
    </div>
</div>

