.certificate__container{
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    width: 25rem;
    height: 25rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

img{
    height: 16rem;
    width: 25rem;
    border: 0.1rem solid #0a161b;
    border-radius: 0.5rem;

    margin-top: 0.4rem;

    box-shadow: 2px 2px 27px 0px #0a161b;
    -webkit-box-shadow: -5px 5px 2px 0px #284242;
    -moz-box-shadow: 2px 9px 2px 0px #0a161b;

    transition: transform 3s;

}

img:hover{
    transform: scale(1.1);
}

.certicate__content-text{
    height: 16rem;
    width: 25rem;

    margin: auto;
    margin-top: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    border: 0.2rem solid #0a161b;
    border-radius: 0.5rem;

}

.certicate__content-text > h4{
    color: #ffffff;
    font-weight: 100;
}

.certicate__content-text > hr{
    border-color: #0a161b;
    width: 100%;
}

.certicate__content-text > p{
    font-size: small;
    font-weight: 200;
}

@media(max-width: 1200px){
    img{
        height: 15rem;
        width: 20rem;
    }
    .certicate__content-text{
        height: 19rem;
        width: 20rem;

    }
}

@media(max-width: 800px){
    .certificate__container{
        
        background: rgba(0, 0, 0, 0);
        
        width: 30rem;
        height: 29rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    
    }

    img{
        height: 22rem;
        width: 30rem;
    }
    .certicate__content-text{
        height: 22rem;
        width: 30rem;

    }
    .certicate__content-text > h4{
        font-weight: 400;
    }
    
    
    .certicate__content-text > p{
        font-size:larger;
        font-weight: 200;
    }
}

@media(max-width: 400px){
    .certificate__container{
        
        background: rgba(0, 0, 0, 0);
        
        width: 25rem;
        height: 25rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    
    }
    
    img{
        height: 15rem;
        width: 20rem;
    }
    .certicate__content-text{
        height: 19rem;
        width: 20rem;

    }
}