
.certificates__container{
    width: 100%;
    box-sizing: border-box;
    margin: auto;

}
.certificates__container > h1 {
    justify-content: center;
    text-align: center;

    font-weight: 100;
}

.certificates__container__content{
    margin: auto;
    padding: auto;
    display: flex;

    flex-wrap: wrap;

    gap: 1rem;
}


@media(max-width: 1200px){
    .certificates__container > h1 {
        font-size: 5rem;
    }
}

@media(max-width: 800px){
    .certificates__container > h1 {
        font-size: 4rem;
    }
}

@media(max-width: 400px){
    

.certificates__container > h1 {
    
    font-weight: 100;
    font-size: 3rem;
}

}