
.certificates__container{
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    margin: auto;
}
.certificates__container > h1 {
    justify-content: center;
    text-align: center;

    font-weight: 100;
}

.certificates__container__content{
    margin: auto;
    display: flex;

    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;


}


@media(max-width: 1200px){
    
}

@media(max-width: 800px){
    
}

@media(max-width: 400px){
    
.certificates__container{
    margin: auto;
    padding: auto;
  
}
.certificates__container > h1 {
    padding: 1rem;
    justify-content: center;
    text-align: center;

    font-weight: 100;
}

}