<div class="certificates__container"> 
    <h1>Certificados</h1>
    <div class="certificates__container__content">
   <app-certificate
   imgCertificate="/assets/BootCamp-Java.jpg"
   textCerficate="Desenvolvimento em JAVA. Inicialização ao Springboot. 
   Banco de dados relacionais e não relacionais. SQL"
   ></app-certificate>
   <app-certificate
   imgCertificate="/assets/front-end.jpg"
   textCerficate=""
   ></app-certificate>
   <app-certificate
   imgCertificate="/assets/cyber securyti.jpg"
   textCerficate=""
   ></app-certificate>
   <app-certificate
   imgCertificate="/assets/Algoritimo_e_logica.jpg"
   textCerficate=""
   ></app-certificate>
   <app-certificate
   imgCertificate="/assets/certificado-udemy-Ia.jpg"
   textCerficate=""
   ></app-certificate>
   <app-certificate
   imgCertificate="/assets/SQL.jpg"
   textCerficate=""
   ></app-certificate>
   </div>
</div>
