<div class="certificates__container"> 
    <h1>Certificados</h1>
    <hr>
    <div class="certificates__container__content">
        <app-certificate
            linkCertificate="https://www.dio.me/certificate/YQP52FAT/share"
            imgCertificate="/assets/javaAngular.jpg"
            textCerficate="Full Stack com Java e Angular 17+, com inicialização em sistemas de
            container com Docker.(Carga horária : 91 horas)"
        ></app-certificate>
        <app-certificate
            linkCertificate="https://www.dio.me/certificate/QHRMHCVW/share"
            imgCertificate="/assets/BootCamp-Java.jpg"
            textCerficate="Desenvolvimento em JAVA. Inicialização ao Springboot. 
            Banco de dados relacionais e não relacionais SQL e NoSQL. (Carga horária : 87 horas.)"
        ></app-certificate>
        <app-certificate
            linkCertificate="https://cursos.alura.com.br/degree/certificate/f9da112d-f7a0-4776-9430-6e9867ef1021"
            imgCertificate="/assets/front-end.jpg"
            textCerficate="Primeiros passos em front-end, desenvolvendo em HTML,CSS e Java script.(Carga horária : 54 horas)"
        ></app-certificate>
        <app-certificate
            linkCertificate="https://www.udemy.com/certificate/UC-80b9db10-e0a0-4411-9e77-339f68d87fe1/"
            imgCertificate="/assets/cyber securyti.jpg"
            textCerficate="Conceitos sobre Cyber securyti.(Carga horaria : 7 horas)"
        ></app-certificate>
        <app-certificate
            linkCertificate="https://www.udemy.com/certificate/UC-f7f4d2ce-5a0c-403f-be0b-938c9b55561b/"
            imgCertificate="/assets/Algoritimo_e_logica.jpg"
            textCerficate="Logica e algoritimo.Introdução em:C,C++,C#,Java e Python.(Carga horária : 30 horas)"
        ></app-certificate>
        <app-certificate
            linkCertificate="https://www.udemy.com/certificate/UC-b31e0140-cf05-4cd2-9112-c52726fb7df9/"
            imgCertificate="/assets/certificado-udemy-Ia.jpg"
            textCerficate="Conceitos sobre IA, e algumas de suas ferramentas.(Carga horária : 3 horas)"
        ></app-certificate>
   </div>
</div>
