.project__container{
    margin: auto;
    padding: 1rem;
    margin-left: rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
    
}
.project__container-img{
    height: 20rem;
    width: 20rem;

    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 2.4rem; 
    
    /*background: linear-gradient(#0a161b,#000000, #000000, #000000,
    #000000, #000000,#000000, #000000,#0a161b);*/
    background-image: url(/assets/fundo-project.jpg);
    background-size: 36rem;
    border-radius: 1.5rem 0rem 0rem 1.5rem;
    

    display: flex;
    justify-content: center;

    box-shadow: 2px 2px 27px 0px #0a161b;
    -webkit-box-shadow: -5px 5px 2px 0px #284242;
    -moz-box-shadow: 2px 9px 2px 0px #0a161b;

}

img{
    height: 13rem;
    max-width: 13rem;
    max-height: 13rem;

    border: 0.1rem solid gray;
    border-radius: 0rem 3rem 0rem 0rem;
    margin: auto;

    transition: transform 3s;

}

img:hover{
    transform: scale(1.1);
}

.project__content-text{
    width: 20rem;
    margin: auto;
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    border: 0.2rem solid #0a161b;
    border-radius: 1rem;
}

.project__content-text > h4{
    margin-top: 0.5rem;
    font-weight: 100;
    font-size:1.5rem;

    color:#ffffff;
}

.project__content-text > hr{
    border-color: #0a161b;
    width: 100%;
}

.project__content-text > p{
    font-size: 1rem;
}


@media(max-width: 1200px){
    
    
}

@media(max-width: 800px){
    .project__container-img{
        height: 30rem;
        width: 30rem;
    
        margin: auto;
    }
    
    img{
        height: 20rem;
        max-width: 20rem;
        max-height: 20rem;
    
    }
    
    .project__content-text{
        width: 30rem;
    }
}

@media(max-width: 400px){
    .project__container-img{
        height: 20rem;
        width: 20rem;
    
    }
    
    img{
        height: 14rem;
        max-width: 14rem;
        max-height: 14rem;
    
    }
    
    .project__content-text{
        width: 20rem;
    }
}