.project__container{
    margin: auto;
    margin-left: 10rem;
    width: 28rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.project__container-img{
    width: 15rem;
    height: 14rem;

    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 2.4rem; 
    
    background: linear-gradient(#12ff7f,#000000, #000000, #000000, #000000, #000000,#000000, #000000,#12ff7f);
    border-radius: 1.5rem 0rem 0rem 1.5rem;
    

    display: flex;
    flex-direction:row;
    overflow: hidden;
    justify-content: center;

    box-shadow: 2px 2px 27px 0px #12ff81;
    -webkit-box-shadow: -5px 5px 2px 0px #12ff813c;
    -moz-box-shadow: 2px 9px 2px 0px #12ff8138;

}

img{
    height: 9.5rem;
    max-width: 10rem;
    max-height: 10rem;

    border: 0.1rem solid #12ff7f;
    border-radius: 0rem 3rem 0rem 0rem;
    margin: auto;

    transition: transform 3s;

}

img:hover{
    transform: scale(1.1);
}

.project__content-text{
    width: 15rem;
    margin: auto;
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    border: 1px solid #12ff7f;
    border-radius: 1rem;
}

.project__content-text > h4{
    margin-top: 0.5rem;
    font-weight: 100;

    color: #12ff7f;
}

.project__content-text > hr{
    border-color: #12ff7f;
}