.project__container{
    margin: auto;
    padding: 1rem;
    margin-left: rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
    
}
.project__container-img{
    height: 18rem;
    width: 18rem;

    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 2.4rem; 
    
    background: linear-gradient(#0a161b,#000000, #000000, #000000,
    #000000, #000000,#000000, #000000,#0a161b);
    background-size: 36rem;
    border-radius: 1.5rem 0rem 0rem 1.5rem;
    

    display: flex;
    justify-content: center;

    box-shadow: 2px 2px 27px 0px #0a161b;
    -webkit-box-shadow: -5px 5px 2px 0px #284242;
    -moz-box-shadow: 2px 9px 2px 0px #0a161b;

}

img{
    height: 13rem;
    max-width: 13rem;
    max-height: 13rem;

    border: 0.1rem solid gray;
    border-radius: 0rem 3rem 0rem 0rem;
    margin: auto;

    transition: transform 3s;

}

img:hover{
    transform: scale(1.1);
}

.project__content-text{
    width: 18rem;
    margin: auto;
    margin-top: -1.5rem;
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    background-color:#2842422b;
    border-radius: 0rem 2rem 2rem 0rem;

    box-shadow: 2px 2px 27px 0px #0a161b;
    -webkit-box-shadow: -5px 5px 2px 0px #284242;
    -moz-box-shadow: 2px 9px 2px 0px #0a161b;

}

.project__content-text > h4{
    margin-top: 0.5rem;
    font-weight: 200;
    font-family: var(--secondary-font);
    font-size:1.3rem;

    color:#ffffff;
}

.project__content-text > hr{
    border-color: #0a161b;
    width: 100%;
}

.project__content-text > p{
    font-family: var(--primary-font);
    font-size: 1rem;
}


@media(max-width: 1200px){

}

@media(max-width: 800px){
    .project__container-img{
        height: 33rem;
        width: 33rem; 
    }
    
    img{
        height: 23.5rem;
        max-width: 23.5rem;
        max-height: 23.5rem;
    
    }
    
    .project__content-text{
        width: 33rem;
        margin-top: -1rem;
        margin-bottom: 1rem;
    }
}

@media(max-width: 400px){
    .project__container-img{
        height: 14rem;
        width: 14rem;
    
        
        
    }
    
    img{
        height: 9.2rem;
        max-width: 9.2rem;
        max-height: 9.2rem;
    
    }
    
    .project__content-text{
        width: 13rem;
        margin-top: -1rem;
        margin-bottom: 1rem;
    }
}