<div class="projects__container"> 
    <h1>PROJETOS</h1>
    <hr>
    <div class="projects__container__content">
        <app-project
            linkProject="https://jesusrevolution.vercel.app/"
            imgProject="/assets/cruz-blog.jpg"
            textProject="Jesus Revolution"
            projectSummary="Blog para falar um pouco a respeito de Jesus e a sua grande obra. Desenvolvido com Angular
            , HTML,CSS e Type script.(EM DESENVOLVIMENTO...)"
        ></app-project>
        <app-project
            linkProject="https://gamesn.vercel.app/"
            imgProject="/assets/numero-secreto..jpg"
            textProject="Número Secreto"
            projectSummary="Tente adivinhar qual numero foi escolhido pela maquina recebendo dicas a cada tentativa.
            DESENVOLVIDO em HTML CSS e Java script."
        ></app-project>
        <app-project
            linkProject="https://cripto-descripto.vercel.app/"
            imgProject="/assets/cripto (2).jpg"
            textProject="Criptografia e Descriptografia"
            projectSummary="Simula um sistema de criptografia e descriptografia de textos.
            DESENVOLVIDO em HTML CSS e Java script."
        ></app-project>
        <app-project
            linkProject="https://iequrupes.vercel.app/"
            imgProject="/assets/site-igreja..jpg"
            textProject="Site Igreja"
            projectSummary="Site da minha igreja local, com algumas paginas dando 
            um pequeno resumo de quem somos.DESENVOLVIDO em HTML CSS e Java script."
        ></app-project>
        <app-project
            linkProject="https://portifoliomiltonrocha.vercel.app/index.html"
            imgProject="/assets/m.r.png"
            textProject="Primeiro Portifolio."
            projectSummary="Este foi meu primeiro portifolio, desenvolvido somente com HTML e CSS."
        ></app-project>
    
        <app-project
            linkProject="https://sorteiodajuh.vercel.app/"
            imgProject="/assets/mosaico.jpg"
            textProject="Sorteio"
            projectSummary="Programa simples de sorteios,aonde é possivel adicionar
            os nomes, e conferir se foram adicionados corretamente, desenvolvido com HTML, CSS e Java script"
        ></app-project>
        <app-project
            linkProject="http://adubofacil.vercel.app/"
            imgProject="/assets/adubofacil-logo-nova-fundo.jpg"
            textProject="Adubo Facil"
            projectSummary="Pagina desenvolvida para venda de produtos agriculas, para um cliente.
            Desenvolvido com HTML,CSS,Angular,Bootstrap e Type script."
        ></app-project>
        <!-- 
        MELHORIAS
        Em desenvolvimento 
        <app-project
            linkProject="https://radiationskateboard.vercel.app/"
            imgProject="/assets/Radiation name.png"
            textProject="Radiation Skateboard"
            projectSummary="Blog sobre uma marca de skate da minha cidade, marca essa a qual faço parte. Desenvolvido
            com Angular, HTML, CSS e Type script.(EM DESENVOLVIMENTO...)"
        ></app-project>-->
    </div>
</div>
