<div class="projects__container">
    <h1>PROJETOS</h1>
    <hr>
    <div class="projects__container__content">
    <app-project
    linkProject="https://gamesn.vercel.app/"
    imgProject="/assets/numero-secreto..jpg"
    textProject="NUMERO SECRETO"
    projectSummary="Tente adivinhar qual numero foi escolhido pela maquina recebendo dicas a cada tentativa.
    DESENVOLVIDO em HTML CSS e Java script."
    >
    </app-project>
    <app-project
    linkProject="https://cripto-descripto.vercel.app/"
    imgProject="/assets/cripto (2).jpg"
    textProject="CRIPTOGRAFIA TEXTO"
    projectSummary="Simula um sistema de criptografia e descriptografia de textos.
    DESENVOLVIDO em HTML CSS e Java script."
    >
    </app-project>
    <app-project
    linkProject="https://iequrupes.vercel.app/"
    imgProject="/assets/site-igreja..jpg"
    textProject="SITE IGREJA"
    projectSummary="Site da minha igreja local, com algumas paginas dando 
    um pequeno resumo de quem somos.DESENVOLVIDO em HTML CSS e Java script."
    >
    </app-project>
    <app-project
    linkProject="https://portifoliomiltonrocha.vercel.app/index.html"
    imgProject="/assets/m.r.png"
    textProject="Primeiro Portifolio."
    projectSummary="Este foi meu primeiro portifolio, desenvolvido somente com HTML e CSS."
    >
    </app-project>
</div>
</div>
