.projects__container{
    width: 100%;
    margin: auto;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
 
}
.projects__container__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.projects__container > h1{
    font-weight: 100;

    text-align: center;
}

@media(max-width: 1200px){

    
}

@media(max-width: 800px){
    
}

@media(max-width: 400px){
   .projects__container{
    width: 100%;
    margin: auto;
    display: flex;

    justify-content: center;
    align-items: center;
    
}

.projects__container > h1{
    font-weight: 100;

    text-align: center;

}
}