<div class="projects__container">
    <h1>Projetos</h1>
    <div class="projects__container__content">
    <app-project
    linkProject="https://gamesn.vercel.app/"
    imgProject="/assets/numero-secreto..jpg"
    textProject="Jogo do numero secreto"
    >
    </app-project>
    <app-project
    linkProject="https://cripto-descripto-o7yw48q9s-mieju2006s-projects.vercel.app/"
    imgProject="/assets/cripto (2).jpg"
    textProject="Criptografia de texto"
    >
    </app-project>
    <app-project
    linkProject="https://iequrupes.vercel.app/"
    imgProject="/assets/site-igreja..jpg"
    textProject="Site igreja"
    >
    </app-project>
</div>
</div>
