.menu-bar__container{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 999;
    height: 3rem;

    background-color: var(--primary-color);
}

.menu-bar__item{
    font-family: var(--secondary-fon);
    display: flex;
    align-items: center;
    text-align: center;
}

.menu-bar__item > li{
    display: flex;
    list-style-type: none;
    text-align: center;
}

.menu-bar__item > li > ul{
    margin-right: 5rem;
}

.menu-bar__item > li > ul > a{
    text-decoration: none;
    padding: 2px;
    color: white;
    font-family: var(--secondary-fon);
    font-weight: 100;
    font-size: 1.3rem;
}

.menu-bar__item > li > ul > a:hover{
    color:  #92dbfa;
    font-weight: 300;
}

@media (max-width: 768px){
    .menu-bar__container{
        height: 2.5rem;
    }

    .menu-bar__item > li > ul{
        margin-right: 0rem;
        margin-left: -1rem;
    }
}